@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #050511;
  --foreground: #ffffff;
  --primary: #6d28d9;
  --secondary: #1e1b4b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: 'Outfit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050511;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}